.main {
    background-image: url('./static/fondo.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.invitados {
    font-size: 14px;
}
.fromInvitados{
    font-size: 14;
    font-weight: normal;
    color: #828282;
}
.is-rounded{
    border: white 3px solid;
}
.media+.media {
    border-top: 0px solid rgba(219,219,219,.5); 
    margin-top: 1rem;
    padding-top: 0rem;
}
.media .media {
    border-top: 0px solid rgba(219,219,219,.5); 
    margin-top: 0rem;
    padding-top: 0rem;
}

.tarjeta h3{
    font-size: 20px; margin: 3px; width: 30vh;
}


.media+.media {
    border-top: 0px solid rgba(219,219,219,.5); 
    margin-top: 1rem;
    padding-top: 0rem;
}
.titleLittle {
    font-size: 14;    
    margin-bottom: 1em;
}
.boletos{
    font-size: 12px;
}
.content {
    margin-top: .5rem;
}
.content h3 {
    font-size: 40px;
}
.content h3:not(:first-child) {
    margin: 0%;
}
.card{
    width: 30%;
    border-radius: 3px 3px 3px 3px;
}
.centradoLateral{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pequenia{
    width: 100%;
    border-radius: 3px 3px 3px 3px;
    background: rgba(255, 255, 255, 0.75);
}

.mapa {
    position: absolute;
    width: 100%;
    margin-top: 3vh;
    color: #fff;
}
.lugar{
    z-index: 90;
    top: 200%;
    color: #fff;
}
.lienzo {
    z-index: -100;
    top: 300%;
    color: #fff;
}
.icono{
    z-index: -100;
    margin-top: 30vh;
    margin-left: -24vh;
}

.mapaInferioro {
    position: absolute;
    width: 100%;
    margin-top: 90vh;
    color: #fff;
    margin-top: 38vh;
}
.direccion{
    top: 10%;
}

.hero.is-primary {
    background-color: transparent;
    color: #fff;
}

.descripcion {

    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  
    background: url('https://firebasestorage.googleapis.com/v0/b/diferentes-a2ca8.appspot.com/o/foto%20concierto%20anterior%20-%20bn.jpg?alt=media&token=0820554c-d11d-48ff-b9b3-44e2816c81ac');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.info{
    color: white;
    background-color:  #2D2D2D;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 10px;
}

.info a{
    color: white;
}
.cuerpo h3{
    font-size: small;
}
.cuerpo h1{
    font-size: 20px;
}
.cuerpo p{
    font-size: small;
}
.mt25text{
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;
  justify-content: left;
  align-items: left;
  text-align: left;
}
.tituloOrg{
    color:  #fff;
    font-weight: 600;
}
@media (min-width: 700px) {
    .mobile {
        display:none;
    }
    .main {
        background-image: url('./static/video.webm');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .media+.media {
        border-top: 0px solid rgba(219,219,219,.5); 
        margin-top: 1rem;
        padding-top: 0rem;
    }
    .footer{
        font-size: 12px;
    }

    .boletos{
        font-size: 16px;
    }
    .titleLittle{
        font-size: 22px;
    }
    .mapaInferioro {
        margin-top: 90vh;
    }

    .mapa {
        margin-top: 6vh;
    }
    .cuerpo h3{
        font-size: medium;
    }
    .cuerpo h1{
        font-size: 30px;
    }
    .cuerpo p{
        font-size: small;
    }

    /*Footer*/

.redesMt25 {
    display:flex;
    justify-content: left;
    align-items: left;
    text-align: left;
  }
  .redesMt25 p{
    margin: 1vh;
    font-size: 12px;
    line-height: 14px;
    justify-content: left;
    align-items: left;
    text-align: left;
  }
  
  #facebookMT25 {
    margin: 1vh;
  }
  .sigueMt5 img{
    margin: 1vh;
    width: auto;
    height: 100px;
    left: 180px;
    top: 2688px;
    grid-column-start: 1;
    grid-row-end: 3;
  }
  .sigueMt5 h1{
    font-weight: bold;
    font-size: 16px;
  }
  
  .sigueMt5{
    max-width: 50vh;
    margin: 3vh;
    margin-top: 6vh;
  }
  .sigueBark h1{
    font-weight: bold;
    font-size: 16px;
  }
  
  .redesBarak{
    display: grid;
    grid-template-columns:  60% 40%;
  }
  
  .sigueBark {
    max-width: 50vh;
    margin: 3vh;
    margin-top: 6vh;
  }
  
  #spotify {
    grid-column-start: 1;
    width: 50vh;
  
    margin: 5%;
  
  }
  #facebook {
    grid-column-start: 2;
    width: 40vh;
    margin-top: 20%;
    margin-left: 13%;
    /*
    margin: 3%;
    */
  }
  
  .footer {
    background-color: #2D2D2D;
    color: #fff;
    min-height: 30vh;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 0%;
  }
  
    
}

@media (max-width: 700px) {
    .deskop{
        display: none;
    }

  .descripcion {
    background: url('https://firebasestorage.googleapis.com/v0/b/diferentes-a2ca8.appspot.com/o/foto%20concierto%20anterior%20-%20bn.jpg?alt=media&token=0820554c-d11d-48ff-b9b3-44e2816c81ac');
    /*esto es lo importate tamaño de imagen*/
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 45vh;
}
    .desktop {
        display: none;
    }
    .pequenia{
        background: #2D2D2D;
    }

    .icono{
        margin-top: 8vh;
        margin-left: -24vh;
    }

    .card{
        background-color: ;
    }
    .content h3 {
        color: #fff;
    }
    .centradoLateral{
        color: #fff;
    }
}


/* navBar*/
#navBar{
    background-color: (0, 0, 0, 0);
    width: 100%;
    height: 10%;
    top: 1%;
    left: 0;
    position: fixed;

    display: flex;
    align-items: center;
    z-index: 100;
}
#navBar ul{
    display: inline-block;
}
#navBar ul li{
    display: inline-block;
    margin: 1vh;
}
#derecha {
    float: right;
    position: absolute;
    right: 2vh;
}
#derecha li{
    float:left;
    align-items: center;
}
#derecha li p{
    color: white;
    font-weight: 700;
    font-size: 12px;
}
#izquiera {
    margin: 0%;
    padding: 0%;
    margin-left: 2%;
}
#izquiera li {
    float:left;
    align-items: center;
}
#izquiera li img{
    height: 7vh;
    width: 7vh;
    margin: 0%;
    padding: 0%;
}
#irMain {
    height: 1vh;
    width: auto;
    margin-top: 3.5vh;

    margin-left: -15%;
    color: #00279B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}
#irMain p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -4%;
}
@media (max-width: 600px){
  #izquiera li img{
      display: none;
  }
  #navBar ul li{
      margin: 0vh;
  }
  #izquiera li{
      margin: 0vh;
  }
  #navBar{
      top: 0%;
  }
  #irMain {
      height: 1vh;
      width: 90%;
      margin-top: 0vh;

      margin-left: 0%;
      display: flex;
  }
  #irMain p {
      margin: -4%;
      Font-Size: 10px;
  }
  #derecha li p{
      Font-Size: 12px;
  }
}

/**/


/*main */
#video {
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 110%;
    z-index: -1;
    background-color: rgba(0,0,0,1);
  }
  
.main {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color:  rgba(0, 39, 155, 0.25);

}

.title{
  display: block;
}
.title img{
  z-index: 100;
  visibility: visible;
  width: 30%;
}

.subtitle {
  z-index: 5;
  font-weight: 900;
  font-size: 28px;
  color: #fff;
  word-spacing: 5px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.fecha {
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  padding-bottom: 2px;
  line-height: 1;
}
.lugar {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  padding-bottom: 2px;
  line-height: 1;
}
@media (max-width: 700px) {
    /* main */
  .main {
    height: 70vh;
    background: url('https://firebasestorage.googleapis.com/v0/b/diferentes-a2ca8.appspot.com/o/fondo.png?alt=media&token=c7fedd12-091d-442d-8939-488c0f9dc083');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
 }

  .title img{
    width: 50%;
    padding-bottom: 10%;
    padding: 4vh;
  }
  .subtitle {
    display: none;
  }
  .fecha {
    font-weight: 900;
    font-size: 12px;
    color: #fff;
    padding-bottom: 2px;
  }
  .lugar {
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    padding-bottom: 2px;
  }
}